<html>
	<head>
		<title>
			Blog
		</title>
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
	</head>
	<body>
		<div class="master">
			<div class="nav">
				<div class="lototype" onclick="window.location.href=''">
					<i><b>Dia</b> de programador</i>
				</div>
				<div class="box-admin" onclick="window.location.href='admin/'">
					<i><b>Admin</b></i>
				</div>
			</div>
			<div class="banner">
				<div class="showcase">
					<b>
						Dia de programador
					</b>	
				</div>
			</div>
			<div class="content">
			{% if post %}
				{% for rs in post reversed %}	
				<div class="box-post">
					<div class="box-title">
						{{ rs.title|capfirst }}
					</div>
					<div class="box-date">
						{{ rs.date_publication|date:"d M Y" }}
					</div>
					<div class="box-message">
						{{ rs.message }}
					</div>
					<div class="stage">
						{% if rs.comment_set.all %}
							{% for comment in rs.comment_set.all reversed %}
							<div class="box-list-title">
								{{comment.name}}
							</div>
							<div class="box-list-date">
								{{comment.date_publication|date:"d M Y"}}
							</div>
							<div class="box-list-comment">
								{{comment.comment}}
							</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="box-comment">
						<form action="comment/" method="POST">
							{% csrf_token %}
							<textarea name="id_post" style="display:none;">
								{{rs.id}}
							</textarea>
							<input type="text" name="name" placeholder="Digite seu nome">
							<input type="text" name="comment" placeholder="Digite seu comentário">
							<input type="submit" value="enviar" style="display:none;">
						</from>
					</div>
				</div>
				{% endfor %}
			{% endif %}	
			</div>
		</div>
	</body>
</html>